*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
header{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 11vh;
    background-color: rgba(255, 255, 255, 0.991);
    align-items: center;
    justify-content: center;
}

header nav{
    width: 100vw;
    height: 5vh;

}
header nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;  
    align-items: center;
    
}

a , .activo{
    color: black;
    font-family: 'Cakerolli Trial', sans-serif;
    font-size: 14px; 
    width: 25vw;
    border: 2px solid black;   
    font-weight: bold;                                             
}

 .activo,a li:hover{
    background: orangered;
    color: rgb(255, 255, 255);
}

header .logo{
    padding-top: 2px;
}

main{
    width: 100vw;
    height: 89vh;
}