main {
    /* background: url(../images/fondo_cocina.jpeg); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-image: linear-gradient(white, rgb(219, 213, 213), rgba(196, 192, 192, 0.914));
    background-size: cover;
}

.texto {
    display: flex;
    flex-direction: row;
}

.texto h1 {
    font-size: 50px;
    font-family: 'Dhellia', sans-serif;
    font-weight: 900;
    color: rgb(255, 111, 1);
    text-align: center;
}

p {
    font-size: 18px;
    font-family: 'Handlee', cursive;
    padding-left: 10px;
}

.texto img {
    width: 110px;
    height: 90px;
    align-items: center;
}

label {
    align-items: center;
    font-size: 20px;
    color: rgb(255, 111, 1);
    /* text-shadow: -2px -1px 6px rgba(0,0,0,0.74); */
}

input {
    width: 50vw;
    height: 4vh;
    border: 2px solid black;

}

textarea {
    width: 50vw;
    height: 10vh;
    border: 2px solid black;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.enviar {
    display: flex;
    flex-direction: row;
    position: relative;
    background: white;
    /* margin-bottom: 30px; */
    font-family: 'Handlee', cursive;
    font-weight: bold;
    text-align: center;
    /* margin-top: 260px; */
    padding: 10px 40px;
    box-shadow: 4px 6px 5px 0px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 4px 6px 5px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 4px 6px 5px 0px rgba(0, 0, 0, 1);
}

.enviar:hover {
    background-color: rgb(255, 111, 1);
    color: white;
    cursor: pointer;
}

.items {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.items div {
    justify-content: space-around;
    padding-bottom: 5%;
}

footer {
    position: absolute;
    top: 90%;
    left: 82%;
    color: white;
}

footer>ul {
    font-size: 24px;
}

footer i {
    padding: 5px;
}

footer ul i:hover {
    color: rgb(255, 111, 1);
    cursor: pointer;
}


@media screen and (min-width: 1439px) {}

@media screen and (min-width: 1024px) and (max-width: 1438px) {}

@media screen and (min-width: 768px) and (max-width: 1023px) {}

@media screen and (min-width: 320px) and (max-width: 767px) {}