
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../multimedia/fondo_cocina.jpeg);
}

.titulo{
    font-size: 28px;
    font-family: 'Dhellia', sans-serif;  
    font-weight: 900;    
    color: rgb(255, 111, 1); 
    text-align: center;
    position: relative;
   
}

.texto1 p , .proposito p{
    font-size: 18px;
    font-family: 'Handlee', cursive;
    font-weight: 700;
    padding-left: 10px;
}


.flip-container {
    width: 97vw;
    height: 14vh;
    perspective: 3000px; 
    display: flex;
    flex-direction: row;
    cursor: pointer;
    padding-bottom: 30px;
    padding-top: 0px;
  }
  .card {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  .flip-container:hover .card {
    transform: rotateY(180deg);
  }
  .front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(230, 226, 224, 0.687);
    font-weight: 900;  
    border: 3px dotted rgb(255, 111, 1);
    border-radius: 30px;
    padding: 8px 0px;
  }
  .front {
    font-size: 40px;
    font-family: 'Dhellia', sans-serif;
    color: rgb(255, 111, 1); 
    justify-content: flex-start;
  }

  .back {
    font-size: 22px;
    font-family: 'Handlee', cursive;
    color: black;   
    justify-content: center;
    align-content: center;
    transform: rotateY(180deg);
  }

  .back h2{
    width: 18%;
    height: 55%;
    font-size: 25px;
    font-family: 'Handlee', cursive;
    font-weight: 900;   
    color: white;
    /* border: 3px dotted rgb(255, 111, 1); */
    border-radius: 25px;
    padding: 10px 10px 15px;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 10px;
    text-shadow: -2px -1px 6px rgba(184,176,176,0.71);
    background: rgb(255, 111, 1);
  }

  .front img{
    width: 80px;
    height: 90px;
    border-radius: 20px;
    align-items: flex-start;
    margin-right: 20%;
    margin-left: 1%;
    margin-top: 2px;
    padding-bottom: 1px;
  }

  .flip-container p{
    text-align: justify;
    width: 85%;
    padding-left: 30px;
    padding-right: 20px;
  }