main {
  background: url(../images/fondo_cocina.jpeg);
  background-size: contain;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;

}

.imagen {
  width: auto;
  align-items: center;
  padding-top: 20px;

}

.imagen img {
  width: 680px;
  height: 450px;
  border-radius: 10px;
  box-shadow: -3px 3px 8px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -3px 3px 8px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -3px 3px 8px 0px rgba(0, 0, 0, 0.75);
}

.contain {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  padding-top: 20px;
}

.titulo {
  padding-top: 20px;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(228, 219, 219, 0.577);
}

h1 {
  font-size: 50px;
  font-family: 'Dhellia', sans-serif;
  line-height: 1.2em;
  font-weight: 900;
  color: rgb(255, 111, 1);
}

.flip-container {
  width: 34.5vw;
  height: 58vh;
  perspective: 3000px;
  cursor: pointer;
  /* padding-bottom: 30px; */
  padding-top: 20px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.flip-container:hover .card {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  background: rgba(230, 226, 224, 0.687);
  font-weight: 900;

  border-radius: 30px;
}

.front {
  flex-direction: column;
  justify-content: flex-start;
  border: 2px solid rgb(255, 111, 1);
}

.front h1 {
  font-size: 35px;
  font-family: 'Dhellia', sans-serif;
  color: rgb(255, 111, 1);
}

.back h1 {
  font-size: 35px;
  font-family: 'Dhellia', sans-serif;
  color: rgb(11, 201, 11);
}

.front ul {
  font-size: 24px;
  font-family: 'Handlee', cursive;
  color: black;
  justify-content: center;
  align-content: center;
  text-align: start;
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 10px;

}

.front ul input {
  margin-bottom: 10px;
}

.back {
  flex-direction: column;
  font-size: 22px;
  font-family: 'Handlee', cursive;
  color: black;
  justify-content: flex-start;
  align-content: flex-start;
  text-align: start;
  transform: rotateY(180deg);
  border: 2px solid rgb(11, 201, 11);
}

.back ul li {
  list-style: circle;
  text-align: justify;
  margin: 10px 10px 0px 30px;
}